* {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	text-transform: uppercase;
	color: #4A4A4A;
	font-size: 1.2rem;
	font-weight: 600;
	margin-top: 2rem;
	text-align: center;
}
h2 {
	color: #404A50;
	font-size: 1.2rem;
	font-weight: 600;
	margin: auto;
}
#overlay > div > div > h2 {
	margin: 20px auto 8px auto
}
p {
	font-size: 12px;
	color: #B2B5B8;
}
#overlay > div > div > p {
	margin: 8px;
	font-size: 0.9rem;
}
.employee-image {
	border-radius: 50%;
	margin: auto 1rem auto 0;
	width: 80px;
	height: 80px;
}
.employee {
	display: flex;
	border: 2px solid #DFDFDF;
	border-radius: 5px;
	max-width: 250px;
	flex-grow: 1;
	margin: 1rem;
	padding: 1.5rem 1rem;
	background-color: #fff;
}
.employees {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.employee-data {
	margin: auto 10px auto 0;
}
body {
	background-color: #FCFCFC;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.line {
	border-top: 1px solid #DADADA;
	width: 100%;
	margin: 25px 0;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
	display: flex;
	flex-direction: column;
	background-color: #fefefe;
	margin: auto;
	padding: 5px 20px 20px 20px;
	border: 2px solid #DFDFDF;
	border-radius: 10px;
	min-width: 25%;
}
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin-left: auto;
	transition-duration: .3s;
}
.close:hover,.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.modal-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.profile-picture-large {
	border-radius: 50%;
}
@media (min-width: 320px) {
	.employees {
		width: 95%;
	}
	.employee {
		display: flex;
		border: 2px solid #DFDFDF;
		border-radius: 5px;
		width: 300px;
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.employees {
		width: 87%;
	}
	.employee {
		display: flex;
		border: 2px solid #DFDFDF;
		border-radius: 5px;
		width: 300px;
		margin: 1rem;
		flex-basis: 300px;
		background-color: #fff;
	}
	.employee-image {
		width: 96px;
		height: 96px;
	}
}
